params {
  samples = "$baseDir/samples.txt"
  gtf = "/homes/tl344/tom/references/Homo_sapiens.GRCh38.94.chr.gtf"
  fasta = "/homes/tl344/tom/references/Homo_sapiens.GRCh38.dna.toplevel.fa"
  target_trancripts = false
  qc=true
  keep_basecalled_fast5=true
  input_is_basecalled=true
  resultsDir = "/hps/nobackup/enright/tom/nanopore_METTL3/results"
  
  sequenceContext=2
  pvalue_thr=0.05
  min_cov=30
  reference_condition = "WT"
}

process {
  conda = "conda_env.yml"
}

profiles {
  standard {
    includeConfig 'conf/local.conf'
  }

  yoda {
    includeConfig 'conf/yoda.conf'
  }
}
