params {
  samples = "$baseDir/samples.txt"
  gtf = "/homes/tl344/tom/references/Homo_sapiens.GRCh38.94.chr.gtf"
  fasta = "/homes/tl344/tom/references/Homo_sapiens.GRCh38.dna.toplevel.fa"
  target_trancripts = false
  qc=true
  keep_basecalled_fast5=true
  input_is_basecalled=true
}

process {
  conda = "/homes/tl344/local/miniconda2/envs/nanocompore/"
}

profiles {
  standard {
    includeConfig 'conf/local.conf'
  }

  yoda {
    includeConfig 'conf/yoda.conf'
  }
}
