params {
  samples = "$baseDir/samples.txt"
  gtf = "/home/nanopore/references/Homo_sapiens.GRCh38.93.gtf"
  fasta = "/home/nanopore/references/Homo_sapiens.GRCh38.dna.toplevel.fa"
  target_trancripts = false
  qc=false
}

process {
  conda = "/homes/tl344/local/miniconda2/envs/nanocompore/"
}

profiles {
  standard {
    includeConfig 'conf/local.conf'
  }

  yoda {
    includeConfig 'conf/yoda.conf'
  }
}
