aws_access_key_id = ""
aws_secret_access_key = ""
aws_account_id = ""
region = "eu-west-1"
az = "a"
pipeline_name = "Nanocompore_pipeline"
resources_tag = "nanocompore_pipeline"
instance_volume_size = 400
# The most recent ECS optimised AMIs can be found here: https://docs.aws.amazon.com/AmazonECS/latest/developerguide/ecs-optimized_AMI.html
ami_id = "ami-0dc66d9ab40653776"
gpu_ami_id = "ami-0e09423cfd6dcb7d0"
fpga_ami_id = "ami-0c850cdf7f5be4cb9"
key_pair = ""
bucket = "nanocompore-nf-bucket"
