aws {
  accessKey = ''
  secretKey = ''
  region = ''
  batch {
    cliPath = '/usr/local/aws-cli/v2/current/bin/aws'
  }
}


process {
  executor = 'awsbatch'
  queue = 'nanocompore_main_q'
  cpus = 1
  memory = 16.GB

  withName:guppy{
    cpus = 2
    if(params.GPU == "true") {
      accelerator  = [request: 1, type: 'GPU']
      queue = 'nanocompore_gpu_q'
    }
  }

  withName:minimap {
    cpus = 2
  }

  withName:eventalign{
    cpus = 3
  }

  withName:nanocompore{
    cpus = 3
  }

}
